/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

/* Tailwind */
@import "tailwindcss";

@theme {
  --font-sora: "Sora", sans-serif;

  /* Font sizes with line-height and weight */
  --text-heading: 48px;
  --text-heading-mobile: 38px;
  --leading-heading: 100%;
  --font-weight-heading: 700;

  --text-body: 16px;
  --text-body-mobile: 12px;
  --leading-body: 26px;
  --font-weight-body: 400;
}

body {
  font-family: var(--font-sora);
}