/* Google Fonts import */
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

/* Tailwind */
@import "tailwindcss";

@theme {
  --font-sora: "Sora", sans-serif;

  /* Headings */
  --text-heading: 48px;
  --text-heading-md: 38px;
  --text-heading-sm: 24px;

  /* Body */
  --text-body-lg: 16px;
  --text-body-md: 14px;
  --text-body-sm: 12px;

  /* Line-heights */
  --leading-heading: 100%;
  --leading-body: 26px;

  /* Font weights */
  --font-weight-heading: 700;
  --font-weight-body: 400;
  --font-weight-body-lg: 500;
}

body {
  font-family: var(--font-sora);
}
